.navbar {
    background-color: transparent;
    padding: 20px 60px;
    width: 100%;
}

.navbar-brand img {
    height: 60px;
}

.nav-link {
    color: black !important;
    margin: 0 15px;
}

.btn-agendar {
    padding: 10px 30px;
    border: 1px solid #007BFF; /* azul */
    background-color: transparent;
    color: #007BFF;
    border-radius: 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.btn-agendar:hover {
    background-color: #007BFF;
    color: white;
}

.agendar {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.agendar img {
    width: 600px;
}

.agendar h1 {
    font-size: 50px;
    color: #1470AF;

}

.agendar p {
    margin-top: 25px;
    font-size: 18px;
    color: black;

}

.dividir {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.dividir-paragrafo {
    width: 800px;
    color: white;
    font-size: 17px;
}

.dividir-formulario {
    background-color: white;
    height: 600px;
    width: 900px;
    padding: 50px;
}

.caixa {
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.dividir-formulario h2 {
    text-align: center;
    color: #1470AF;
}

.dividir-formulario h3 {
    font-size: 25px;
    color: #1470AF;
}

.dividir-formulario p {
    font-weight: bold;
    font-size: 18px;
}

footer {
    display: flex;
    align-items: center;
    width: 1100px;
    margin: 100px auto;
    justify-content: space-between;
    
}

footer img {
    width: 300px;
}
